body{
    background-color: #1F2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.spanpage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px 15%;
}

.header-left {
    margin-right: auto;
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    gap: 16px;
    font-weight: 100;
}

.content {
    flex: 1;
}