body{
    background-color: #1F2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.spanpage {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 28px;
    color: #F9FAF8;
    padding: 8px 10%;
    align-items: flex-end;
}

.header a {
    color: #F9FAF8;
    text-decoration: none;
}

.header-left {
    margin-right: auto;
    font-weight: 900;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    gap: 16px;
    font-weight: 100;
    font-size: 18px;
    color: #E5E7EB;
}

.header a:hover, .two-text a:hover {
    color: gray;
    text-decoration: underline;
}

.content {
    display: flex;
    flex: 1 1 1;
    margin-top: 3rem;
    flex-flow: column nowrap;
}

.one {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 3rem;
}

.one-left {
    width: 50%;
    color: #F9FAF8;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-right: 2rem;
}

.one-left div {
    margin-top: 0px;
}

.one-left h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
}

.one-left p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color:#F9FAF8;
    background-color: crimson;
    border-radius: 8px;
    font-size: 16px;
    padding: 4px 12px;
    border: 2px solid #F9FAF8
}

button:hover {
    text-decoration: underline;
    background-color: #F9FAF8;
    color: crimson;
    border: 2px solid crimson;
    cursor: pointer;
}



.one-right {
    display: flex;
    width: 50%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#one-image {
    border-radius: 4px;
}

.two {
    background-color: #F9FAF8;
    color: #1F2937;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 8px 10%;
    gap: 16px;
}

.two-top h1 {
    font-weight: 900;
    text-align: center;
    font-size: 36px;
}

.two-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

.baki, .aot, .jujutsu-kaisen, .demon-slayer {
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
}

.two-image {
    border-radius: 12px;
    height: 170px;
    border: 2px solid black;
}

.two-text {
    text-align: center;
    font-weight: 500;
}

.two-text a {
    color: crimson;
    font-weight: 900;
}

.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-left: -8px;
    margin-right: -8px;
    padding: 3rem 20%;
}

.three-bot {
    text-align: right;
}

.four {
    background-color: #F9FAF8;
    color: #F9FAF8;
    margin-left: -8px;
    margin-right: -8px;
    padding: 3rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-container {
    background-color: crimson;
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.four-left {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 3rem;
}

#four-bold {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: -16px
}

#four-reg {
    font-size: 18px;
    margin-top: -16px
}

.four-right {
    display: flex;
    flex: 1;
    padding-right: 3rem;
    align-items: center;
    justify-content: flex-end;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    margin-top: auto;
    padding: 8px;
    margin-bottom: -8px;
}

@media only screen and (max-width: 800px) {
    .content {
        margin-top: 1rem;
    }
    .header {
        flex-direction: column;
        text-align: right;
    }
    .header-left {
        margin: 0 0 1rem auto;
    }
    .header>div>ul {
        flex-direction: column;
    }
    .one {
        flex-flow: column nowrap;
    }
    .one-left {
        width: 100%;
        padding-right: 0;
        margin-bottom: 1rem;
    }
    .one-left>div {
        margin: 0 auto 0 auto;
    }
    .one-right {
        width: 100%;
    }
    .three {
        padding: 2rem 10%;
        font-size: 18px;
    }
    .four-container {
        flex-flow: column wrap;
    }
    .four-left {
        padding: 0 1rem;
        text-align: center;
    }
    #four-bold {
        font-size: 24px;
    }
    .four-right {
        padding: 0 1rem 1rem;
        justify-content: center;
    }
}